.footer{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.footer-logo{
  width: 200px;
  margin-right: 10px;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
  align-items: baseline;
}

.footer-top-right img{
  height: 35px;
}

.footer-top-left{
  display: flex;
  align-items: end;
}

.footer-top-right{
  display: flex;
  gap: 10px;
}
